
body {
  font-family: "Zilla Slab";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.25;
  color: #fbfd8a;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #01a9b4;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.logo-img{
  height:5rem;

}

.navbar-brand{
  max-width: 300px;
}

.navbar {
  padding: 0 0 4.5rem;
}


.nav-link {
  font-size: 1.2rem;
  font-family: "Quicksand";
  color: white;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #8ccbbe;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 12%;
  margin-bottom: 1rem;
}

.title-subtext{
  font-family: "Zilla Slab";
}
/* Title Image */

.title-image {
  width: 25%;
  position: absolute;
  right: 15%;
}

/*Title line*/
.title-line{
  width:10%;

  background-color:#fa1616;
  border-width:0;
  height:5px;
  opacity: 100%;

  

}

/* benefits Section */


.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
  text-align: center;
}

.icon {
  color: #01a9b4;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #086972;
}

/*About us*/
#about-us p{
  font-size: 1.5rem;
}

/* About-us */

.about-us-h2{
  margin-bottom: 3rem;
}

/*Syllabus*/

.syllabus-h2{
  margin-bottom: 3rem;
}

#syllabus row{
  margin-bottom: 1rem;
}

.syllabus-container{
  margin-bottom: 4rem;

}
.syllabus-img{
  width:100px;
}

.syllabus-title{
    text-align:left;
}
.syllabus-text{
  font-size: 1.25rem;
  text-align:left;

}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

/*style in mobile*/
@media (max-width: 1028px) {

  .container-fluid{
    padding: 7%;
  }

 h2{
   font-size: 5rem;
 }





  /*title*/
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width:100%;
  }

  #title .container-fluid{
    padding: 7%;
  }

  .navbar-brand {
    font-size: 4rem;

  }
.navbar-toggler{
  height: 4rem;
}

  .nav-link {
    font-size: 3.5rem;
  }

  .big-heading {

    font-size: 6rem;
  }

  #title h4{
    font-size: 4rem;
  }

  /*feature box*/
  .feature-box{
    text-align: left;
  }

.icon{
  display: none;
  }

  .feature-title{

    margin-bottom: 0;
  }


  /*benefits*/
 #benefits hr{
   text-align: center;
   margin-left: 20px;
 }

  #benefits h2{

    padding-left:15px ;
        text-align: left;
        margin-bottom: 3rem;

  }

  #benefits h3{
    font-size: 4rem;

  }

  #benefits p{
    font-size: 3.5rem;
  }

  /*About Us*/
 #about-us{
   background-color: #01a9b4;

 }

 #about-us hr{
    text-align: center;
 }

  #about-us h2{
    font-size: 4rem;
    color: #fbfd8a;


  }

  #about-us p{
    font-size: 3.5rem;
    color: #fff;
  }

  /*syllabus*/

  #syllabus h2{
     text-align: left;

     margin-bottom: 3rem;

  }
  #syllabus hr{
    text-align: left;
    margin-left: 0px;
  }

  #syllabus h3{
    font-size: 4rem;
  }

  #syllabus p{
    font-size: 3.5rem;
  }

.download-button {
  font-size: 3.5rem;
}

.syllabus-img{
  display: none;
}




}
